<div class="contentBar">
    <p class="greenBack contentBarHeader"><b>Бонусы</b><span class="absoluteLeft underline">Все бонусы</span>
    </p>
    <div class="slider-container">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-first"></div>
                    <div class="swiper-slide swiper-slide-first"></div>
                    <div class="swiper-slide swiper-slide-first"></div>
                    <div class="swiper-slide swiper-slide-first"></div>
                    <div class="swiper-slide swiper-slide-first"></div>
                    <div class="swiper-slide swiper-slide-first"></div>
                </div>

                <div class="swiper-pagination">
                </div>
            </div>
        </div>
    </div>
    <p class="greenBack contentBarHeader mb10"><b>TV Игры</b><span class="absoluteLeft underline">Все
            игры</span></p>
    <div class="contentBarPoster firstPoster">
        <img src="./img/logotvbet.png">
        <div class="contentBarPosterButtons">
            <p class="active">1 бет</p>
            <p>5 бет</p>
            <p>7 бет</p>
            <p>Кено</p>
        </div>
    </div>
    <div class="contentBarPoster secondPoster">
        <img src="./img/logoBetGames.png">
        <div class="contentBarPosterButtons">
            <p class="active">7 из 42</p>
            <p>6 из 60</p>
            <p>5 из 36</p>
        </div>
    </div>
    <p class="greenBack contentBarHeader mt10"><b>новости компании</b> <span class="absoluteLeft underline">Все
            новости</span></p>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <p class="greenBack contentBarHeader mt10"><b>новости спорта</b><span class="absoluteLeft underline">Все
            новости</span></p>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <div class="thirdPoster">
        <p>Хамес Родригес хочет уйти из «Баварии»
            в конце сезона.</p>
    </div>
    <div class="reviewForm">
        <div class="reviewMark">
            <img src="./img/logoRew.png">
        </div>
        <img src="./img/stars.png">
        <div class="reviewMark">
            <span>Оценка РБ</span>
            <span class="blackMarker"><b>4/5</b></span>
        </div>
        <p><input type="submit" class="reviewSubmit" value="Оставить отзыв"></p>
    </div>
</div>