<div class="content">
    <p class="breadCrumbs">Главная / LIVE / Counter-StrikeLOOTBET / Season 6.</p>
    <div class="tableContent tableTop">
        <table>
            <thead>
                <tr>
                    <td class="greenBack" colspan="12">
                        <b>Футбол. NBA 2K. Регулярный кубок. 4х5 мин.</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableHeader">
                    <td class="dsplFlex fixWidthSmall"></td>
                    <td class="dsplFlex fixWidthBig">Название события</td>
                    <td class="underline"><b>1</b></td>
                    <td class="underline"><b>X</b></td>
                    <td class="underline"><b>2</b></td>
                    <td class="underline"><b>1X</b></td>
                    <td class="underline"><b>12</b></td>
                    <td class="underline"><b>X2</b></td>
                    <td class="underline"><b>Ф1</b></td>
                    <td class="underline"><b>Ф2</b></td>
                    <td class="underline"><b>М</b></td>
                    <td class="underline"><b>Б</b></td>
                </tr>
                <tr>
                    <td class="fixWidthSmall tdImg">
                        <p>
                            <img src="./img/star.png">
                            <img src="./img/footballField.png">
                        </p>
                        <p>
                            <img src="./img/play.png">
                            <img src="./img/tv.png">
                        </p>
                        <p>14:35</p>
                    </td>
                    <td class="dsplFlex trSpan fixWidthBig tdBetween">
                        <div>
                            <p><b>Вестерн Сидней Уондерерз</b></p>
                            <p><b>Ньюкасл Джетс</b></p>
                            <p class="redMarker"><b>77:72</b> (16:25, 23:23, 14:10, 24:14)</p>
                        </div>
                        <p class="tdRel">
                            <span class="lightGreenMarker"><b>64:00</b></span>
                            <b>+124</b>
                        </p>
                    </td>
                    <td class="greenMarker greenWithArrow">2.23</td>
                    <td>4.3</td>
                    <td class="redMarker redWithArrow">1.23</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="trSpan">
                        <p class="greenWithArrow">(+5.0)</p>
                        <p class="underline"><b>1.81</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(-5.0)</p>
                        <p class="underline redWithArrow"><b>2.09</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>2.05</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>1.82</b></p>
                    </td>
                </tr>
                <tr>
                    <td class="fixWidthCol">
                        <p class="tdRight"><b>1-я карта</b></p>
                    </td>
                    <td class="greenMarker greenWithArrow">2.23</td>
                    <td>4.3</td>
                    <td class="redMarker redWithArrow">1.23</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="trSpan">
                        <p class="greenWithArrow">(+5.0)</p>
                        <p class="underline"><b>1.81</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(-5.0)</p>
                        <p class="underline redWithArrow"><b>2.09</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>2.05</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>1.82</b></p>
                    </td>
                </tr>
                <tr>
                    <td class="fixWidthCol">
                        <p class="tdRight"><b>1-я карта</b></p>
                    </td>
                    <td class="greenMarker greenWithArrow">2.23</td>
                    <td>4.3</td>
                    <td class="redMarker redWithArrow">1.23</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="trSpan">
                        <p class="greenWithArrow">(+5.0)</p>
                        <p class="underline"><b>1.81</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(-5.0)</p>
                        <p class="underline redWithArrow"><b>2.09</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>2.05</b></p>
                    </td>
                    <td class="trSpan">
                        <p>(6.0)</p>
                        <p class="underline"><b>1.82</b></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableNews">
        <div class="tableWeather">
            <p>Погода:</p>
            <p class="cloudy">+5°C</p>
            <p class="wind">0.6</p>
            <p class="press">763</p>
            <p class="rain">69%</p>
        </div>
        <div class="tableInfo">
            <p class="stad">Стадион:</p>
            <p class="flat">Повторы</p>
            <p class="pieChart">Статистика</p>
        </div>
    </div>
    <div class="tableContent">
        <table>
            <tr class="tableHeader thead">
                <td class="greenBack">Все выборы</td>
                <td><b>Форы</b></td>
                <td><b>Тоталы</b></td>
                <td><b>Четверти</b></td>
                <td><b>Разное</b></td>
            </tr>
        </table>
    </div>
    <div class="tableContent">
        <table>
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox"></label>
                        <span><b>Форы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table>
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox1" />
                        <label for="checkbox1"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table>
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox2" />
                        <label for="checkbox2"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table>
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox3" />
                        <label for="checkbox3"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Меньше(87.5)</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Меньше(87.5)</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table class="tableTwoRows">
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox5" />
                        <label for="checkbox5"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал<br> если в 2 строки</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table class="tableTwoRows">
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox6" />
                        <label for="checkbox6"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableContent">
        <table class="tableTwoRows">
            <thead>
                <tr>
                    <td class="tableHeader tableCheckbox" colspan="2">
                        <input type="checkbox" class="checkbox" id="checkbox7" />
                        <label for="checkbox7"></label>
                        <span><b>Тоталы</b></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>Ничья и тотал</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
                <tr class="tableTr">
                    <td class="tableTd">
                        <div class="center">
                            <span>2 строки какгото<br> текста</span>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Да</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                    <td class="tableTd">
                        <div>
                            <span>Нет</span>
                            <b>1.174</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>