<footer>
    <div class="footerBar">
        <ul class="footerListHelp">
            <li><b>Помощь</b></li>
            <li>Maxline FAQ</li>
            <li>Условия</li>
            <li>Правила приёма ставок</li>
            <li>Техническая поддержка</li>
        </ul>
        <ul class="footerListLinks">
            <li><b>Ссылки</b></li>
            <li>О компании</li>
            <li>Новости</li>
            <li>Платежи</li>
            <li>Чат</li>
        </ul>
        <ul class="footerListSite">
            <li><b>Сайт</b></li>
            <li>Спорт</li>
            <li>Live</li>
            <li>Статистика</li>
            <li>Результаты</li>
            <li>Мобильная версия</li>
        </ul>
        <ul class="footerListAdress">
            <li><b>Дополительные адреса</b></li>
            <li>Зеркало 1</li>
            <li>Зеркало 2</li>
            <li>Зеркало 3</li>
        </ul>
        <ul class="footerListScore">
            <li><b>Счёт</b></li>
            <li>Регистрация</li>
            <li>Вход</li>
            <li>Пополнения счёта</li>
            <li>Вывод средств</li>
            <li>Демо счёт</li>
        </ul>
        <ul class="footerListGames">
            <li><b>TV Игры</b></li>
            <li>BetGames</li>
            <li>TVBet</li>
            <li>GoldenRace</li>
        </ul>
    </div>
    <div class="footerIcons">
        <img src='./img/footterIcon1.png'>
        <img src='./img/footterIcon2.png'>
        <img src='./img/footterIcon3.png'>
        <img src='./img/footterIcon4.png'>
        <img src='./img/footterIcon5.png'>
        <img src='./img/footterIcon6.png'>
        <img src='./img/footterIcon7.png'>
        <img src='./img/footterIcon8.png'>
        <img src='./img/footterIcon9.png'>
    </div>
    <div class="footerLogo">
        <img src='./img/logo.png'>
        <p>© 2019 Букмекерская компания Maxline Все права защищены.</p>
        <div class="footerLogoButtons">
            <img src="./img/youtube.png">
            <img src="./img/vk.png">
            <img src="./img/twitter.png">
            <img src="./img/instagram.png">
            <img src="./img/facebook.png">
            <img src="./img/ok.png">
        </div>
    </div>
    <div class="FooterPartners">
        <img src="./img/21.png">
        <img src="./img/ipay.png">
        <img src="./img/mastercard1.png">
        <img src="./img/mastercard2.png">
        <img src="./img/erip.png">
        <img src="./img/belarusb.png">
        <img src="./img/post.png">
        <img src="./img/belInv.png">
        <img src="./img/roundpay.png">
        <img src="./img/a.png">
        <img src="./img/svyaznoy.png">
        <img src="./img/euroset.png">
        <img src="./img/ml.png">
    </div>
</footer>