<header>
    <div class="logo">
        <img src="./img/logo.png" alt="MaxLine">
    </div>
    <div class="headerMenu">
        <div class="upperNav">
            <nav>
                <li><a href="#">Спорт</a></li>
                <li><a href="#">Live</a></li>
                <li class="tvIcon"><a href="#">TV игры</a></li>
                <li><a href="#">Результаты</a></li>
                <li><a href="#">Статистика</a></li>
            </nav>
            <div>
                <span class="navArrow"><img src="./img/flagRus.png"></span>
                <span class="navClock"> 13:50 (GMT+3)</span>
            </div>
        </div>
        <div class="underNav">
            <nav>
                <li><a href="#">Новости</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#"><b>Адреса</b></a></li>
                <li><a href="#">Платежи</a></li>
                <li class="chatIcon"><a href="#">Чат</a></li>
                <li class="bonusIcon"><a href="#"><b>Бонус 4%</b></a></li>
                <li><a href="#">Поиск</a></li>
            </nav>
            <div class="mobileButtons">
                <span class="mobVers">Мобильная версия</span>
                <button class="androidButton"></button>
                <button class="appleButton"></button>
            </div>
        </div>
    </div>
    <div class="mobile-container">
        <nav>
          <input type="checkbox" id="checkbox4" />
          <label for="checkbox4">
        <ul class="menu demo">
          <li><a href="#">Новости</a></li>
          <li><a href="#">О компании</a></li>  
          <li><a href="#"><b>Адреса</b></a></li>  
          <li><a href="#">Чат</a></li>  
          <li><a href="#">Платежи</a></li>  
          <li><a href="#"><b>Бонус 4%</b></a></li>  
          <li><a href="#">Поиск</a></li> 
        </ul>
          <span class="toggle">☰</span>
          </label>
        </nav>   
    </div>
    <div class="formBlock">
        <form class="logForm" id="logForm">
            <div class="logFieldsBlock">
                <p><input class="logField" type="tel" name="logField" placeholder="Логин"></p>
                <p><input class="logField" type="tel" name="logField" placeholder="Пароль"></p>
            </div>
            <span class="absoluteLeft underline greenMarker">Забыли пароль?</span>
            <div class="logButtonsBlock">
                <p><input type="submit" class="logSubmit green" value="Войти"></p>
                <p><input type="submit" class="logSubmit red" value="Регистрация"></p>
            </div>
        </form>
    </div>
</header>