<nav class="navBar mini-menu">
    <p class="navBarHeader">Виды спорта</p>
    <div class="navLinks">
        <p>Все события</p>
        <p class="greenBack">LIVE</p>
    </div>
    <p class="favorite">Избранное</p>
    <li class="football sub"><a href="#">Футбол</a></li>
    <li class="tennis sub"><a href="#">Теннис</a></li>
    <li class="basketball sub"><a href="#">Баскетбол</a></li>
    <li class="valleyball sub"><a href="">Волейбол</a>
        <ul>
            <li class="price"><a href="#">Клубы. Международные</a></li>
            <li class="brazil"><a href="#">Бразилия</a></li>
            <li class="denmark"><a href="#">Дания</a></li>
            <li class="poland"><a href="#">Польша</a></li>
            <li class="southKorea"><a href="#">Республика Корея</a></li>
            <li class="scotland"><a href="#">Шотландия</a></li>
        </ul>
    </li>
    <li class="hockey sub"><a href="#">Хоккей</a></li>
    <li class="handball sub"><a href="#">Гандбол</a></li>
    <li class="gamepad sub"><a href="#">Киберспорт</a></li>
</nav>